{{ define "main" }}
  {{ with .Content }}
    <div class="index-content">
      {{ . }}
    </div>
  {{ end }}
  <div class="posts">
    {{ range .Paginator.Pages }}
      <article class="post on-list">
        <!-- Post Title -->
        <h2 class="post-title">
          <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        </h2>

        <!-- Post Meta -->
        <div class="post-meta">
          <!-- Date -->
          {{- if .Date -}}
            <time class="post-date">
              {{- partial "post-date" . -}}
            </time>
          {{- end -}}

          <!-- Author (if you want to show it) -->
          {{- with .Params.Author -}}
            <span class="post-author">{{- . -}}</span>
          {{- end -}}
        </div>

        <!-- Tags (optional; remove if you don't want them) -->
        {{ if .Params.tags }}
          <span class="post-tags">
            {{ range .Params.tags }}
            #<a href="{{ (urlize (printf "tags/%s/" . )) | absLangURL }}">
              {{- . -}}
            </a>&nbsp;
            {{ end }}
          </span>
        {{ end }}

        <!-- Optional cover image -->
        {{ partial "cover.html" . }}

        <!-- Remove summary/description by emptying out or removing this block -->
        <!--
        <div class="post-content">
          {{ if .Params.showFullContent }}
            {{ .Content }}
          {{ else if .Description }}
            <p>{{ .Description | markdownify }}</p>
          {{ else }}
            {{ .Summary }}
          {{ end }}
        </div>
        -->

        <!-- Remove the read-more link as well -->
        <!--
        <div>
          <a class="read-more button inline" href="{{ .RelPermalink }}">
            {{ $.Site.Params.ReadMore }}
          </a>
        </div>
        -->
      </article>
    {{ end }}

    {{ partial "pagination.html" . }}
  </div>
{{ end }}
